tr > td:last-child {
    min-width: 300px;
}

.nguyenlieu {
    width: 100%;
}

td.catalognguyenlieu {
    width: 50%;
}

.nguyenlieu {
    margin-left: 10px;
}

img {
    min-width: 100%;
    height: 800px;
}